In [1]:
#import modules for analyzing ,plotting, and formatting
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime
import seaborn as sns
import sqlite3

In [35]:
conn = sqlite3.connect('FPA_FOD_20170508.sqlite')
sql = "select * from fires"
df = pd.read_sql_query(sql, conn)

In [4]:
fire_incidents = pd.read_csv('California_Fire_Incidents.csv')
fire_incidents.head()

,AcresBurned,Active,AdminUnit,AirTankers,ArchiveYear,CalFireIncident,CanonicalUrl,ConditionStatement,ControlStatement,Counties,...,SearchKeywords,Started,Status,StructuresDamaged,StructuresDestroyed,StructuresEvacuated,StructuresThreatened,UniqueId,Updated,WaterTenders
0,257314.0,False,Stanislaus National Forest/Yosemite National Park,NaN,2013,True,/incidents/2013/8/17/rim-fire/,NaN,NaN,Tuolumne,...,"Rim Fire, Stanislaus National Forest, Yosemite...",2013-08-17T15:25:00Z,Finalized,NaN,NaN,NaN,NaN,5fb18d4d-213f-4d83-a179-daaf11939e78,2013-09-06T18:30:00Z,NaN
1,30274.0,False,USFS Angeles National Forest/Los Angeles Count...,NaN,2013,True,/incidents/2013/5/30/powerhouse-fire/,NaN,NaN,Los Angeles,...,"Powerhouse Fire, May 2013, June 2013, Angeles ...",2013-05-30T15:28:00Z,Finalized,NaN,NaN,NaN,NaN,bf37805e-1cc2-4208-9972-753e47874c87,2013-06-08T18:30:00Z,NaN
2,27531.0,False,CAL FIRE Riverside Unit / San Bernardino Natio...,NaN,2013,True,/incidents/2013/7/15/mountain-fire/,NaN,NaN,Riverside,...,"Mountain Fire, July 2013, Highway 243, Highway...",2013-07-15T13:43:00Z,Finalized,NaN,NaN,NaN,NaN,a3149fec-4d48-427c-8b2c-59e8b79d59db,2013-07-30T18:00:00Z,NaN
3,27440.0,False,Tahoe National Forest,NaN,2013,False,/incidents/2013/8/10/american-fire/,NaN,NaN,Placer,...,"American Fire, August 2013, Deadwood Ridge, Fo...",2013-08-10T16:30:00Z,Finalized,NaN,NaN,NaN,NaN,8213f5c7-34fa-403b-a4bc-da2ace6e6625,2013-08-30T08:00:00Z,NaN
4,24251.0,False,Ventura County Fire/CAL FIRE,NaN,2013,True,/incidents/2013/5/2/springs-fire/,Acreage has been reduced based upon more accur...,NaN,Ventura,...,"Springs Fire, May 2013, Highway 101, Camarillo...",2013-05-02T07:01:00Z,Finalized,6.0,10.0,NaN,NaN,46731fb8-3350-4920-bdf7-910ac0eb715c,2013-05-11T06:30:00Z,11.0

In [9]:
weather = pd.read_csv('minute_weather.csv')
weather

,rowID,hpwren_timestamp,air_pressure,air_temp,avg_wind_direction,avg_wind_speed,max_wind_direction,max_wind_speed,min_wind_direction,min_wind_speed,rain_accumulation,rain_duration,relative_humidity
0,0,9/10/2011 0:00,912.3,64.76,97.0,1.2,106.0,1.7,85.0,1.0,NaN,NaN,60.5
1,1,9/10/2011 0:01,912.3,63.86,161.0,0.8,215.0,1.5,43.0,0.2,0.0,0.0,39.9
2,2,9/10/2011 0:02,912.3,64.22,77.0,0.7,143.0,1.2,324.0,0.3,0.0,0.0,43.0
3,3,9/10/2011 0:03,912.3,64.40,89.0,1.2,112.0,1.6,12.0,0.7,0.0,0.0,49.5
4,4,9/10/2011 0:04,912.3,64.40,185.0,0.4,260.0,1.0,100.0,0.1,0.0,0.0,58.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,1048570,8/16/2013 4:48,916.6,78.62,195.0,1.0,196.0,1.1,195.0,0.9,0.0,0.0,9.1
1048571,1048571,8/16/2013 4:49,916.6,78.62,192.0,0.9,193.0,0.9,192.0,0.8,0.0,0.0,8.8
1048572,1048572,8/16/2013 4:50,916.6,78.62,186.0,0.7,186.0,0.8,186.0,0.6,0.0,0.0,8.6
1048573,1048573,8/16/2013 4:51,916.6,78.62,176.0,0.6,178.0,0.7,175.0,0.5,0.0,0.0,7.1
1048574,1048574,8/16/2013 4:52,916.6,78.62,161.0,0.7,162.0,0.8,160.0,0.6,0.0,0.0,7.4

In [37]:
df.to_csv('america_wildfire.csv')

In [39]:
america_wildfire = pd.read_csv('america_wildfire.csv')

<ipython-input-39-1b02985b0ee9>:1: DtypeWarning: Columns (9,11,12,13,14,15,16,17,18,19,36,38) have mixed types. Specify dtype option on import or set low_memory=False.
  america_wildfire = pd.read_csv('america_wildfire.csv')

In [40]:
wildfire_ca = america_wildfire[america_wildfire['STATE'] == 'CA']
wildfire_ca.head()

,Unnamed: 0,OBJECTID,FOD_ID,FPA_ID,SOURCE_SYSTEM_TYPE,SOURCE_SYSTEM,NWCG_REPORTING_AGENCY,NWCG_REPORTING_UNIT_ID,NWCG_REPORTING_UNIT_NAME,SOURCE_REPORTING_UNIT,...,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,OWNER_CODE,OWNER_DESCR,STATE,COUNTY,FIPS_CODE,FIPS_NAME,Shape
0,0,1,1,FS-1418826,FED,FS-FIRESTAT,FS,USCAPNF,Plumas National Forest,511,...,A,40.036944,-121.005833,5.0,USFS,CA,63.0,63.0,Plumas,b'\x00\x01\xad\x10\x00\x00\xe8d\xc2\x92_@^\xc0...
1,1,2,2,FS-1418827,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,503,...,A,38.933056,-120.404444,5.0,USFS,CA,61.0,61.0,Placer,b'\x00\x01\xad\x10\x00\x00T\xb6\xeej\xe2\x19^\...
2,2,3,3,FS-1418835,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,503,...,A,38.984167,-120.735556,13.0,STATE OR PRIVATE,CA,17.0,17.0,El Dorado,b'\x00\x01\xad\x10\x00\x00\xd0\xa5\xa0W\x13/^\...
3,3,4,4,FS-1418845,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,503,...,A,38.559167,-119.913333,5.0,USFS,CA,3.0,3.0,Alpine,b'\x00\x01\xad\x10\x00\x00\x94\xac\xa3\rt\xfa]...
4,4,5,5,FS-1418847,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,503,...,A,38.559167,-119.933056,5.0,USFS,CA,3.0,3.0,Alpine,b'\x00\x01\xad\x10\x00\x00@\xe3\xaa.\xb7\xfb]\...

In [41]:
wildfire_ca.to_csv('wildfire_ca.csv')

In [42]:
wildfire_ca.isnull().sum()

Unnamed: 0                         0
OBJECTID                           0
FOD_ID                             0
FPA_ID                             0
SOURCE_SYSTEM_TYPE                 0
SOURCE_SYSTEM                      0
NWCG_REPORTING_AGENCY              0
NWCG_REPORTING_UNIT_ID             0
NWCG_REPORTING_UNIT_NAME           0
SOURCE_REPORTING_UNIT              0
SOURCE_REPORTING_UNIT_NAME         0
LOCAL_FIRE_REPORT_ID          127617
LOCAL_INCIDENT_ID              61567
FIRE_CODE                     134028
FIRE_NAME                      14995
ICS_209_INCIDENT_NUMBER       186712
ICS_209_NAME                  186712
MTBS_ID                       188413
MTBS_FIRE_NAME                188413
COMPLEX_NAME                  188623
FIRE_YEAR                          0
DISCOVERY_DATE                     0
DISCOVERY_DOY                      0
DISCOVERY_TIME                 79333
STAT_CAUSE_CODE                    0
STAT_CAUSE_DESCR                   0
CONT_DATE                      97642
CONT_DOY                       97642
CONT_TIME                      98352
FIRE_SIZE                          0
FIRE_SIZE_CLASS                    0
LATITUDE                           0
LONGITUDE                          0
OWNER_CODE                         0
OWNER_DESCR                        0
STATE                              0
COUNTY                        133329
FIPS_CODE                     133329
FIPS_NAME                     133329
Shape                              0
dtype: int64

In [63]:
wildfire_ca1 = wildfire_ca.drop(columns=['Unnamed: 0', 'OBJECTID', 'FPA_ID', 'SOURCE_SYSTEM_TYPE', 'SOURCE_SYSTEM', 'NWCG_REPORTING_AGENCY', \
                          'NWCG_REPORTING_UNIT_ID', 'SOURCE_REPORTING_UNIT', 'NWCG_REPORTING_UNIT_NAME', 'FIRE_CODE', 'FIRE_NAME', \
                          'ICS_209_INCIDENT_NUMBER','ICS_209_NAME', 'MTBS_ID', 'SOURCE_REPORTING_UNIT_NAME', 'LOCAL_FIRE_REPORT_ID', \
                          'LOCAL_INCIDENT_ID', 'MTBS_FIRE_NAME', 'COMPLEX_NAME', 'DISCOVERY_DATE', 'CONT_DATE', 'FIPS_NAME', 'Shape',\
                          'OWNER_CODE', 'FOD_ID', 'FIPS_CODE'])

wildfire_ca1.head()

,FIRE_YEAR,DISCOVERY_DOY,DISCOVERY_TIME,STAT_CAUSE_CODE,STAT_CAUSE_DESCR,CONT_DOY,CONT_TIME,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,OWNER_DESCR,STATE,COUNTY
0,2005,33,1300.0,9.0,Miscellaneous,33.0,1730.0,0.10,A,40.036944,-121.005833,USFS,CA,63.0
1,2004,133,845.0,1.0,Lightning,133.0,1530.0,0.25,A,38.933056,-120.404444,USFS,CA,61.0
2,2004,152,1921.0,5.0,Debris Burning,152.0,2024.0,0.10,A,38.984167,-120.735556,STATE OR PRIVATE,CA,17.0
3,2004,180,1600.0,1.0,Lightning,185.0,1400.0,0.10,A,38.559167,-119.913333,USFS,CA,3.0
4,2004,180,1600.0,1.0,Lightning,185.0,1200.0,0.10,A,38.559167,-119.933056,USFS,CA,3.0

In [70]:
print(wildfire_ca1.isnull().sum())

FIRE_YEAR                0
DISCOVERY_DOY            0
DISCOVERY_TIME       79333
STAT_CAUSE_CODE          0
STAT_CAUSE_DESCR         0
CONT_DOY             97642
CONT_TIME            98352
FIRE_SIZE                0
FIRE_SIZE_CLASS          0
LATITUDE                 0
LONGITUDE                0
OWNER_DESCR              0
STATE                    0
COUNTY              133329
dtype: int64

In [75]:
loc = wildfire_ca1[['LATITUDE', 'LONGITUDE']]
loc

          LATITUDE   LONGITUDE
0        40.036944 -121.005833
1        38.933056 -120.404444
2        38.984167 -120.735556
3        38.559167 -119.913333
4        38.559167 -119.933056
...            ...         ...
1880460  40.481637 -122.389375
1880461  37.617619 -120.938570
1880462  37.617619 -120.938570
1880463  37.672235 -120.898356
1880464  34.263217 -116.830950

[189550 rows x 2 columns]

In [2]:
us_weather = pd.read_csv('WeatherEvents_Jan2016-Dec2021.csv')

In [3]:
us_weather.head()

,EventId,Type,Severity,StartTime(UTC),EndTime(UTC),Precipitation(in),TimeZone,AirportCode,LocationLat,LocationLng,City,County,State,ZipCode
0,W-1,Snow,Light,2016-01-06 23:14:00,2016-01-07 00:34:00,0.00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
1,W-2,Snow,Light,2016-01-07 04:14:00,2016-01-07 04:54:00,0.00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
2,W-3,Snow,Light,2016-01-07 05:54:00,2016-01-07 15:34:00,0.03,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
3,W-4,Snow,Light,2016-01-08 05:34:00,2016-01-08 05:54:00,0.00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
4,W-5,Snow,Light,2016-01-08 13:54:00,2016-01-08 15:54:00,0.00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7479160,W-7577193,Storm,Severe,2021-12-26 18:19:00,2021-12-26 18:29:00,0.00,US/Mountain,KBVR,42.5833,-108.2833,Lander,Fremont,WY,82520.0
7479161,W-7577194,Snow,Light,2021-12-26 18:29:00,2021-12-26 18:38:00,0.02,US/Mountain,KBVR,42.5833,-108.2833,Lander,Fremont,WY,82520.0
7479162,W-7577195,Snow,Light,2021-12-28 00:53:00,2021-12-28 02:27:00,0.08,US/Mountain,KBVR,42.5833,-108.2833,Lander,Fremont,WY,82520.0
7479163,W-7577196,Snow,Moderate,2021-12-28 02:27:00,2021-12-28 03:09:00,0.09,US/Mountain,KBVR,42.5833,-108.2833,Lander,Fremont,WY,82520.0
7479164,W-7577197,Snow,Light,2021-12-28 03:09:00,2021-12-28 03:19:00,0.01,US/Mountain,KBVR,42.5833,-108.2833,Lander,Fremont,WY,82520.0

In [4]:
ca_weather = us_weather[us_weather['State'] == 'CA']
ca_weather

,EventId,Type,Severity,StartTime(UTC),EndTime(UTC),Precipitation(in),TimeZone,AirportCode,LocationLat,LocationLng,City,County,State,ZipCode
102527,W-103895,Fog,Moderate,2016-01-02 00:53:00,2016-01-02 01:53:00,0.00,US/Pacific,KWVI,36.9394,-121.7900,Freedom,Santa Cruz,CA,95019.0
102528,W-103896,Rain,Light,2016-01-04 02:53:00,2016-01-04 05:53:00,0.02,US/Pacific,KWVI,36.9394,-121.7900,Freedom,Santa Cruz,CA,95019.0
102529,W-103897,Rain,Light,2016-01-04 11:53:00,2016-01-04 17:53:00,0.22,US/Pacific,KWVI,36.9394,-121.7900,Freedom,Santa Cruz,CA,95019.0
102530,W-103898,Rain,Light,2016-01-05 06:53:00,2016-01-05 12:48:00,0.23,US/Pacific,KWVI,36.9394,-121.7900,Freedom,Santa Cruz,CA,95019.0
102531,W-103899,Rain,Moderate,2016-01-05 12:48:00,2016-01-05 13:50:00,1.11,US/Pacific,KWVI,36.9394,-121.7900,Freedom,Santa Cruz,CA,95019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7461696,W-7559584,Precipitation,UNK,2021-10-24 13:55:00,2021-10-24 14:15:00,0.22,US/Pacific,KO87,40.0167,-124.0667,Whitethorn,Humboldt,CA,95589.0
7461697,W-7559585,Storm,Severe,2021-11-09 03:15:00,2021-11-09 03:35:00,0.00,US/Pacific,KO87,40.0167,-124.0667,Whitethorn,Humboldt,CA,95589.0
7461698,W-7559586,Storm,Severe,2021-12-15 16:30:00,2021-12-15 16:55:00,0.00,US/Pacific,KO87,40.0167,-124.0667,Whitethorn,Humboldt,CA,95589.0
7461699,W-7559587,Cold,Severe,2021-12-15 17:30:00,2021-12-15 17:50:00,0.00,US/Pacific,KO87,40.0167,-124.0667,Whitethorn,Humboldt,CA,95589.0
7461700,W-7559588,Storm,Severe,2021-12-15 18:10:00,2021-12-15 18:30:00,0.00,US/Pacific,KO87,40.0167,-124.0667,Whitethorn,Humboldt,CA,95589.0

In [5]:
ca_weather.to_csv('weather_ca.csv')